.home {
  width: 100%;
}

.home .home-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .home-cont .home-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 580px;
}

.home .home-cont .home-left-side .title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */
  color: #000000;
  mix-blend-mode: normal;
}

.home .home-cont .home-left-side .text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  /* or 152% */
  margin: 20px 0;
  color: #7d7987;
  mix-blend-mode: normal;
}

.home .home-cont .home-left-side button {
  width: 200px;
  height: 56px;
  border: 0;
  outline: 0;
  background-color: #458ff6;
  -webkit-box-shadow: inset 10px 0 0 0 #ec32be;
          box-shadow: inset 10px 0 0 0 #ec32be;
  cursor: pointer;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  /* identical to box height, or 333% */
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  z-index: 2;
  color: #ffffff;
  border-radius: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-cont .home-left-side button:hover {
  -webkit-box-shadow: inset 200px 0 0 0 #ec32be;
          box-shadow: inset 200px 0 0 0 #ec32be;
  color: #ffff;
}

.home .home-cont .home-right-side {
  width: 513px;
  padding: 40px 0;
}

.home .home-cont .home-right-side img {
  width: 100%;
}

@media screen and (max-width: 1091px) {
  .home-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .home-left-side {
    margin: 60px 0;
    padding: 0;
  }
  .home-left-side .title {
    font-size: 43px !important;
  }
  .home-left-side .text {
    margin: 30px 0 !important;
    font-size: 19px !important;
  }
}

@media screen and (max-width: 582px) {
  .home-left-side {
    width: 500px !important;
  }
  .home-left-side .title {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 496px) {
  .home-left-side {
    width: 460px !important;
  }
  .home-left-side .title {
    font-size: 39px !important;
  }
}
/*# sourceMappingURL=Home.css.map */